/config/config.py
model/__pycache__/__init__.cpython-39.pyc
.DS_Store
.DS_Store
env/.DS_Store
model/__pycache__/__init__.cpython-39.pyc
model/__pycache__/symbols.cpython-39.pyc
providers/__pycache__/__init__.cpython-39.pyc
